.cog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cog-disclaimer {
  font-size: 75%;
}

.cog-urls__container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.cog-urls__remove-button {
  margin-left: 0.5rem;
}

.cog-urls__add-button {
  margin-left: 0.5rem;
}

.cog-urls__url {
  margin-top: 0.5rem;
  min-width: 32rem;
}

.cog-settings__container {
  margin-top: 1rem;
}

.cog-settings__label {
  margin-right: 0.5rem;
}
