.cog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cog-disclaimer {
  font-size: 75%;
}

.cog-entries__container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.cog-entries__remove-button {
  margin-left: 0.5rem;
}

.cog-entries__add-button {
  margin-left: 0.5rem;
}

.cog-entries__entry {
  margin-top: 0.5rem;
  min-width: 32rem;
}

.cog-settings__container {
  margin-top: 1rem;
}

.cog-settings__label {
  margin-right: 0.5rem;
}

.cog-extras {
  margin-top: 2rem;
}

.cog-extras__link {
  color: #000;
}
